@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap");
.container { scroll-behavior: smooth; }

/*
dark red #DB3545
red #f3312c
*/

body {
  font-family: 'Lato', sans-serif;
  color: #040000;
}


.layout_padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 50px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
}

.heading_container p {
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

h1,
h2 {
  font-family: 'Merriweather Sans', sans-serif;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

/*header section*/
.hero_area {
  position: relative;
  background-color: #DB3545;
/*  background-color: #fff9f0ff;*/
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .header_top {
  padding: 15px 0;
  background-color: #000000;
}

.header_section .header_top .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_section .header_top .contact_nav a {
  color: #ffffff;
}

.header_section .header_top .contact_nav a i {
  color: #ff8a1d;
}

.header_section .header_bottom {
  padding: 10px 0;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand span {
  color: #0355cc;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #000000;
  text-align: center;
}
.nav-dropdown {
  z-index: 9999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    position: relative;
}


nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff9f0ff;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f0f0f0;
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
          z-index: 9999;

}

nav ul li:hover ul {
    display: block;
}
nav ul li ul li {
    display: block;
    white-space: nowrap;

}

nav ul li ul li a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

nav ul li ul li a:hover {
    background-color: #f0f0f0;
}
.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #0355cc;
}

.custom_nav-container .form-inline .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #000000;
}

.custom_nav-container .form-inline .nav_search-btn:hover {
  color: #0355cc;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  margin: 10px;
  padding: 0;
  width: 28px;
  height: 35px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #fff9f0ff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff9f0ff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #ffffff;
  margin-right: 25px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

.quote_btn-container a:hover {
  color: #ff8a1d;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-image: url("../images/20230618_142632.jpg");
  background-position: bottom;
  height: 600px;
  text-align: center;
   display: flex;
  justify-content: center;

}

.slider_section .img-box img {
  width: 40%;
  opacity: 90%;
}


.slider_section_sub {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-image: url("/docs/images/treckertreffen_banner_gradient.png");
  background-position: bottom;
  height: 200px;
  text-align: left;
   display: flex;
  justify-content: left;
}


.slider_section_sub .img-box img {
  height: 150px;
}

/*
.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box {
  padding-bottom: 20px;

}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 135px;
  color: #0355cc;
}

.slider_section .detail-box p {
  color: #444;
  font-size: 15px;
}

.slider_section .detail-box a {
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #ff8a1d;
  border: 1px solid #ff8a1d;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #ff8a1d;
}*/

.feature_section {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.feature_section .feature_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature_section .feature_container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 10px;
  padding: 45px 15px;
  background-color: #ffffff;
  color: #2b8c99cf;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.feature_section .feature_container .box .img-box {
  width: 90px;
  height: 90px;
}

.feature_section .feature_container .box .img-box svg {
  width: 100%;
  height: auto;
  max-height: 100%;
  fill: #5aa1aaff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feature_section .feature_container .box .img-box svg path {
  fill: #5aa1aaff;
}

.feature_section .feature_container .box .date {
  margin-top: 5px;
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 15;
  font-weight: 100;
  font-size: 20px;
}

.feature_section .feature_container .box .name {
  margin-top: 25px;
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
}

.feature_section .feature_container .box:hover, .feature_section .feature_container .box.active {
  background-color: #5aa1aaff;
  color: #ffffff;
}

.feature_section .feature_container .box:hover .img-box svg, .feature_section .feature_container .box.active .img-box svg {
  fill: #ffffff;
}

.feature_section .feature_container .box:hover .img-box svg path, .feature_section .feature_container .box.active .img-box svg path {
  fill: #ffffff;
}


.highlights-section {
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
}


.highlights-section span {
/*-webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 10px;*/
  font-family: 'Big Shoulders Display';
  font-size: 50px;
  font-weight: 10;
  margin: 25px 25px;
  color:#2b8c99cf;

}

.introduction_section {
-webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
 -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px 20px;
    margin-left: 90px;
    margin-right: 90px; 

  justify-content: center;
}

.section_header{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
 -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 50px 50px;
  padding: 30px 30px;
  background-color: #2b8c99cf;
  border-radius: 10px;
    text-align: center;
   color: white;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 10px;
  text-align: justify;
}

/*.about_section .detail-box a {
  margin-top: 15px;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #0355cc;
  border: 1px solid #0355cc;
  border-radius: 2px;
  color: #ffffff;
}
*/
/*.about_section .detail-box a:hover {
  background-color: transparent;
  color: #0355cc;
}*/

.about_section .img-box img {
  width: 100%;
}
.img-box-sub a img  {
  margin-top:  10px;
  width: 50%;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
.img-box-sub{
  text-align: center;
}


.einlass-eintritt {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Big Shoulders Display';
  font-size: 40px;
}

.responsive-br{
    display: none;
}


.pipe {
  font-family: 'Big Shoulders Display';
  font-size: 40px;
  margin: 20px 20px;
  color: grey;
}

#beachbeatz-section {
    text-align: center;
    margin-top: 20px;
    margin: 50px 50px;
}

#beachbeatz-section h2 {
    font-family: 'Orbitron';
    text-shadow: #8d3d62 -1px 2px;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


#beachbeatz-section ul {
    text-align: left;
}
#beachbeatz-section .einlass-eintritt {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Big Shoulders Display';
  font-size: 40px;
  margin: 20px 20px;
  color:#8d3d62;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 56px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}


#mallorcaparty-section {
    text-align: center;
    margin-top: 20px;
    margin: 50px 50px;
    margin-bottom: 20px;
}

#mallorcaparty-section p{
    text-align: center;
}

#mallorca {
    font-family: 'Yellowtail';
    font-size: 60px;
    margin-bottom: 0px;

}
#party {
    font-family: 'Plaster';
    font-size: 60px;
    margin-top: -20px;

}


#mallorcaparty-section ul {
    text-align: left;
}
#mallorcaparty-section .einlass-eintritt {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Big Shoulders Display';
  font-size: 40px;
  margin: 20px 20px;
  color:#00c4cf;
}

#treckertreffen-section {
    text-align: center;
    margin-top: 20px;
    margin: 50px 50px;
}

#treckertreffen-section h2 {
    font-family: 'Angkor';
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 20px;
}



#treckertreffen-section p {
    text-align: justify;
}

#treckertreffen-section ul {
    text-align: left;
}
#treckertreffen-section .einlass-eintritt {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Big Shoulders Display';
  font-size: 40px;
  margin: 20px 20px;
  color:#DB3545;
}

#anfahrt-section div{
    text-align: left;
}



.professional_section {
  background-color: #fff9f0ff;
}

.professional_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.professional_section .img-box img {
  width: 100%;
}

.professional_section .detail-box h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #0355cc;
}

.professional_section .detail-box p {
  margin-top: 20px;
}

.professional_section .detail-box a {
  margin-top: 25px;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #f3312c;
  border: 1px solid #f3312c;
  border-radius: 2px;
  color: #ffffff;
}

.professional_section .detail-box a:hover {
  background-color: transparent;
  color: #ff8a1d;
}
.teilnehmer-section {
  padding-top: 20px;
}

.teilnehmer-section h2 {
  margin-top: 20px;
  margin-left: 90px;
  margin-bottom: 20px;
  font-family: 'Big Shoulders Display';
  font-size: 40px;
  color:#2b8c99cf;
  text-align: left;
}

.teilnehmer-section h5 {
  margin-bottom: 20px;
  font-family: 'Angkor';
  font-size: 20px;
  text-align: left;
}


.heading_container {
  margin-bottom: 30px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: #ffffff;
  outline: none;
  color: black;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.contact_section input::-webkit-input-placeholder {
  color: #737272;
}

.contact_section input:-ms-input-placeholder {
  color: #737272;
}

.contact_section input::-ms-input-placeholder {
  color: #737272;
}

.contact_section input::placeholder {
  color: #737272;
}

.contact_section input.message-box {
  height: 135px;
}

.contact_section button {
  border: none;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 55px;
  background-color: #DB3545;
  border: 1px solid #DB3545;
  border-radius: 0;
  color: #ffffff;
  margin-top: 15px;
}

.contact_section button:hover {
  background-color: transparent;
  color: #0355cc;
}

.info_section {
  padding: 75px 0;
  background-color: #0a0f43;
  text-align: center;
  color: #fff;
}

.info_section h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.info_section .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.info_section .social-box .box {
  background-color: #ffffff;
  padding: 5px 15px;
}

.info_section a {
  margin: 0 5px;
  color: #0355cc;
}

.info_section a i {
  font-size: 18px;
}

.info_section a:hover {
  color: #ff8a1d;
}

.info_items a {
  position: relative;
}

.info_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 80px;
  background-color: #0355cc;
  color: #ffffff;
}

.info_items .item .img-box i {
  font-size: 24px;
}

.info_items .item p {
  margin-top: 25px;
  color: #fff;
  margin-bottom: 0;
  background-color: #0a0f43;
}

.info_items .item:hover .img-box {
  background-color: #ff8a1d;
}

.info_items {
  position: relative;
}

.info_items::before {
  content: "";
  position: absolute;
  top: 65px;
  width: 75%;
  height: 1px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* footer section*/
.footer_section {
  background-color: #2b8c99cf;
}

.footer_section p {
  margin: 0;
  padding: 25px 0;
  color: #ffffff;
  text-align: center;
  border-top: 0.8px solid #ffffff;
}

.footer_section a {
  color: inherit;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  text-align: center;
}
#btn-back-to-top  svg {
/*  width: 10%;
  max-height: 10%;*/
  fill: white;
/*  -webkit-transition: all 0.3s;
  transition: all 0.3s;*/
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */